.advantages {
  padding-top: 60px;
  padding-bottom: 70px;
  color: var(--dark-color-text);
  background: var(--bg-color);
}

.advantages__header {
  max-width: 884px;
  margin: 0 auto 50px;
  text-align: center;
}

.advantages__title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 25px;
}

.advantages__subtitle {
  font-weight: 500;
  margin-bottom: 35px;
}

.advantages__subtitle::before,
.advantages__subtitle::after {
  content: "";
  display: inline-block;
  width: 43px;
  height: 2px;
  background: var(--dark-color-text);
  margin: 0px 23px 6px 23px;
}

.advantages__text {
  max-width: 724px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.40625;
}

.description {
  max-width: 900px;
  margin: 0 auto;
  counter-reset: item;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.description__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.40625;
  color: var(--dark-color-text);
  text-align: center;
  flex: 0 1 196px;
}

.description__span {
  display: block;
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background-color: var(--lightblue-color);
  position: relative;
  margin: 0 auto 16px;
}

.description__span::before {
  counter-increment: item;
  content: counter(item)"";
  display: block;
  font-weight: 500;
  font-size: 57px;
  line-height: 1;
  color: var(--white-color-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* -------------media---------- */
@media (max-width: 1024px) {
  .advantages {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .advantages__header {
    max-width: 812px;
  }

  .advantages__title {
    font-size: 32px;
    margin-bottom: 23px;
  }

  .advantages__subtitle {
    font-size: 20px;
    margin-bottom: 33px;
  }

  .advantages__text {
    max-width: 666px;
    font-size: 16px;
  }

  .description {
    max-width: 870px;
  }

  .description__text {
    font-size: 18px;
    flex: 0 1 180px;
  }

  .description__span {
    width: 104px;
    height: 104px;
  }

  .description__span::before {
    font-size: 52px;
  }
}

/* ----------------------------- */
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .description {
    max-width: 670px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
  }

  .description__text {
    font-size: 18px;
    flex: 0 1 200px;
  }
}


/* ------------------------------------ */
@media (max-width: 350px) {
  .advantages {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .advantages__header {
    max-width: 290px;
    margin-bottom: 40px;
  }

  .advantages__title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .advantages__subtitle {
    font-size: 16px;
    margin-bottom: 26px;
  }

  .advantages__text {
    font-size: 12px;
  }

  .description {
    position: relative;
  }

  .description__text {
    font-size: 18px;
    flex: 0 1 166px;
  }

  .description__text:not(:first-child) {
    position: fixed;
    transform: scale(0);
  }

  .description:before,
  .description:after {
    content: "";
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: absolute;
    top: 72px;
  }

  .description:before {
    background: url("../img/arrow-left.svg") center /auto no-repeat;
    background-color: var(--white-color-text);
    box-shadow: 4px 4px 25px 0 rgba(0, 0, 0, 0.05);
    left: 0;
  }

  .description:after {
    background: url("../img/arrow-right.svg") center /auto no-repeat;
    background-color: rgba(75, 77, 98, 0.72);
    box-shadow: 4px 4px 25px 0 rgba(0, 210, 248, 0.05);
    right: 0px;
  }

  .description__span {
    width: 104px;
    height: 104px;
  }

  .description__span::before {
    font-size: 52px;
  }
}